# Operating System Files
.DS_Store

# Node Modules
node_modules

# Build Output
public/
dist/
build/

# Svelte and Vite Files
/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Lock Files
package-lock.json
yarn.lock

# Environment Variables
.env
.env.*
!.env.example
